<div class="mx-auto" style="width: 200px;">
<%= form_with(model: code, local: true) do |form| %>
  <% if code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(code.errors.count, "error") %> prohibited this code from being saved:</h2>

      <ul>
        <% code.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field lead">
    <%= form.label :Estado %>
<%= select_tag(:status, raw('<option value="usado">Usado</option><option value="cancelado">Cancelado</option><option value="invalido">Invalido</option>')) %>  </div>

  <div class="actions lead">
    <%= form.submit value:"Actualizar", class: "btn btn-primary" %>
  </div>
<% end %>
<%= link_to @code, class: "text-decoration-none text-reset" do %>
<button type="button" class="btn btn-primary">Ver</button><%end%>
<%= link_to codes_path, class: "text-decoration-none text-reset" do %>
<button type="button" class="btn btn-primary">Regresar</button><%end%>
</div>