<p id="notice"><%= notice %></p>
<%= link_to new_code_path, class: "text-decoration-none text-reset" do %>
<button type="button" class="btn btn-primary">Crear codigo</button><%end%>
<%= link_to validate_path, class: "text-decoration-none text-reset" do%>
<button type="button" class="btn btn-primary">Validar codigo</button><%end%>

<table class="table">
  <thead>
    <tr>
      <th scope="col" class="lead text-center">Monto</th>
      <th scope="col" class="lead text-center">Email</th>
      <th scope="col" class="lead text-center">Codigo</th>
      <th scope="col" class="lead text-center">Estado</th>
      <th scope="col" colspan="3" class="lead text-center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @codes.each do |code| %>
      <tr>
        <td class="lead"><%= code.amount %></td>
        <td class="lead"><%= code.email %></td>
        <td class="lead"><%= code.code %></td>
        <td class="text-capitalize lead"><%= code.status %></td>
        <td><%= link_to code, class: "text-decoration-none text-reset" do%>
        <button type="button" class="btn btn-primary">Ver</button>
            <%end%></td>
        <td><%= link_to edit_code_path(code), class: "text-decoration-none text-reset" do%>
            <button type="button" class="btn btn-primary">Editar</button>
            <%end%></td>
        <td><%= link_to code, method: :delete, data: { confirm: 'Estas seguro que deseas eliminar este codigo?' }, class: "text-decoration-none text-reset" do%><button type="button" class="btn btn-danger">Eliminar</button><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @posts %>

